
// Color contrast
@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
  
    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  
    @if ($yiq >= $yiq-contrasted-threshold) {
      @return $dark;
    } @else {
      @return $light;
    }
}

@mixin hover-focus() {

    &:hover,
    &:focus {
        @content;
    }
}

//background
@mixin bg-variant($parent, $color) {
    #{$parent} {
        background-color: $color !important;
    }

    a#{$parent},
    button#{$parent} {
        color: color-yiq($color);

        @include hover-focus() {
            background-color: darken($color, 10%) !important;
            color: color-yiq($color);
        }
    }
}

@each $color, $value in $ui-app-colors {
    @include bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $ui-app-colors {
    @include bg-variant(".btn-#{$color}", $value);
}


//text
@mixin text-emphasis-variant($parent, $color) {
#{$parent} {
    color: $color !important;
}
@if $emphasized-link-hover-darken-percentage != 0 {
    a#{$parent} {
    @include hover-focus() {
        color: darken($color, $emphasized-link-hover-darken-percentage) !important;
    }
    }
}
}

@each $color, $value in $ui-app-colors {
@include text-emphasis-variant(".text-#{$color}", $value);
}